.context-menu {
    position: relative;
}

.context-menu-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.8);
}

.context-menu-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: absolute;
    top: 0;
    right: 0;
    min-width: 10rem;
}

.context-menu-backdrop, .context-menu-content {
    display: none;
}

.context-menu.open .context-menu-backdrop {
    display: initial;
}

.context-menu.open .context-menu-content {
    display: flex;
}