@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500&display=swap');

@import url('./animations.css');
@import url('./main-button.css');
@import url('./password-list.css');
@import url('./context-menu.css');
@import url('./password-editor.css');
@import url('./knowledgebase.css');
@import url('./layout-login.css');
@import url('./layout-main.css');

* {
  font-family: 'Inter', Helvetica, Arial, sans-serif;
  margin: 0;
  letter-spacing: -.5px;
  font-weight: 300;
  font-size: 1rem;
}

body {
  background-color: #222;
}

img {
  width: 100%;
  height: 100%;
}

input {
  width: 100%;
}