.password-list {
  justify-self: center;
  max-width: 50rem;
  width: 100%;
}
  
.search-box {
  display: flex;
  margin-bottom: 3rem;
}
  
.search-box input {
  flex: auto;
  margin-right: 1rem;
  font-family: 'Inter', Helvetica, Arial, sans-serif;
  padding: 1rem;
  border: 0;
  box-sizing: border-box;
  border-radius: .5rem;
  box-shadow: 3px 3px 2px rgba(0, 0, 0, .4);
}

.search-box input:focus {
  outline: none;
}

.search-box-button {
  width: 1.5rem;
  align-self: center;
  cursor: pointer;
}

.category-title {
  font-size: 1.5rem;
  padding-bottom: .5rem;
  border-bottom: 1px solid #444;
}

.category-icon {
  width: 1.3rem;
  float: right;
  cursor: pointer;
  margin-left: 1rem;
}

.category {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 1rem;
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.password {
  box-sizing: border-box;
  width: calc(50% - .5rem);
  padding: 1rem;
  background-color: rgba(100, 100, 100, .3);
  border-radius: .5rem;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr auto;
  grid-template-areas: 
    "title icon"
    "description icon";
}

.password-title {
  grid-area: title;
}

.password-description {
  word-break: break-word;
  grid-area: description;
  color: #aaa;
  font-size: .9rem
}

.password-icon {
  grid-area: icon;
  width: 1rem;
  cursor: pointer;
  margin-left: .5rem;
}

.error-message {
  text-align: center;
}

.error-message .error-icon {
  max-width: 13rem;
}

.error-message .error-text {
  margin: 4rem 0;
  font-size: 2rem;
  color: #A00;
}

.error-message .main-button {
  padding: 1rem;
}

.import-export h1 {
  font-size: 2rem;
}

.import-export p {
  color: #aaa;
  margin-bottom: 2rem;
}

.import-export-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.import-export-buttons .main-button {
  padding: 1rem;
}

@media (max-width: 56rem) {
  .password {
    width: 100%;
  }
}