:root {
	--mainbutton-padding: .7rem;
	--mainbutton-background: #555;
	--mainbutton-hover-background: #666;
	--mainbutton-hover-glow: drop-shadow(0 0 .5rem #666666B0);
	--mainbutton-active-background: #777;
	--mainbutton-shadow: 3px 3px 2px rgba(0, 0, 0, .1);
}

@media (prefers-color-scheme: light) {
	:root {
		--mainbutton-background: #ddd;
		--mainbutton-hover-background: #ccc;
		--mainbutton-hover-glow: drop-shadow(0 0 .5rem #ccccccB0);
		--mainbutton-active-background: #bbb;
		--mainbutton-shadow: 3px 3px 2px rgba(0, 0, 0, .3);
	}
}

.main-button {
	box-sizing: border-box;
	transition: all .2s ease-out;
	box-shadow: var(--mainbutton-shadow);
	background-color: var(--mainbutton-background);
	padding: var(--mainbutton-padding);
	border-radius: .2rem;
	cursor: pointer;
	display: grid;
	place-content: center;
	user-select: none;
}

.main-button:hover {
	background-color: var(--mainbutton-hover-background);
	filter: var(--mainbutton-hover-glow);
}

.main-button.active, .main-button.active:hover {
	background-color: var(--mainbutton-active-background);
}

.main-button.disabled {
	opacity: .4;
	cursor: initial;
}

.main-button.animation-grow:hover {
	transform: scale(1.1, 1.2);
}

.main-button.disabled:hover {
	background-color: var(--mainbutton-background);
	transform: none;
	filter: none;
}

.link-button {
	cursor: pointer;
}

.link-button:hover {
	text-decoration: underline;
}

.button-grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 3rem;
	margin-bottom: 3rem;
}

.button-grid .main-button {
	padding: 1rem;
}