:root {
	--main-button-background: #555;
	--main-button-hover-background: #666;
	--main-button-active-background: #777;
	--main-button-padding: .3rem;
	--main-button-shadow: 3px 3px 2px rgba(0, 0, 0, .1);
}

.main-button {
	box-sizing: border-box;
	transition: all .2s ease-out;
	box-shadow: var(--main-button-shadow);
	background-color: var(--main-button-background);
	padding: var(--main-button-padding);
	border-radius: .2rem;
	cursor: pointer;
	display: grid;
	place-content: center;
	user-select: none;
}

.main-button:hover {
	background-color: var(--main-button-hover-background);
}

.main-button.active, .main-button.active:hover {
	background-color: var(--main-button-active-background);
}

.main-button.disabled {
	opacity: .4;
	cursor: initial;
}

.main-button.animation-grow:hover {
	transform: scale(1.1, 1.2);
}

.main-button.disabled:hover {
	background-color: var(--main-button-background);
	transform: none;
}