:root {
	--context-menu-backdrop-background: rgba(0, 0, 0, .8);
	--context-menu-gap: 1rem;
	--context-menu-minwidth: 10rem;
}

.context-menu {
	position: relative;
}

.context-menu-backdrop {
	z-index: 2;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: var(--context-menu-backdrop-background);
}

.context-menu-content {
	z-index: 2;
	display: flex;
	flex-direction: column;
	gap: var(--context-menu-gap);
	position: absolute;
	top: 0;
	right: 0;
	min-width: var(--context-menu-minwidth);
}

.context-menu-backdrop, .context-menu-content {
	display: none;
}

.context-menu.open .context-menu-backdrop {
	display: initial;
}

.context-menu.open .context-menu-content {
	display: flex;
}