:root {
	--inputbox-margin: 3rem;
	--inputbox-label-color: var(--subtext-color);
	--inputbox-error-color: var(--error-text);
	--inputbox-padding: 1rem;
	--inputbox-gap: 1rem;
	--inputbox-icon-size: var(--icon-size);
	--inputbox-background: rgba(255, 255, 255, 0.8);
	--inputbox-background-focus: #fff;
}

@media (prefers-color-scheme: light) {
	:root {
		--inputbox-shadow: 3px 3px 2px rgba(0, 0, 0, .2);
	}
}
@media (prefers-color-scheme: dark) {
	:root {
		--inputbox-shadow: 3px 3px 2px rgba(0, 0, 0, .4);
	}
}

.input-box {
	margin-bottom: var(--inputbox-margin);
	width: 100%;
}

.input-box-label {
	color: var(--inputbox-label-color);
	display: block;
	margin-left: var(--inputbox-padding);
	margin-bottom: .5rem;
	user-select: none;
}

.input-box-container {
	display: flex;
	gap: var(--inputbox-gap);
	align-items: center;
}

.input-box-container > input {
	transition: all .2s ease-out;
	flex: auto;
	font-family: 'Inter', Helvetica, Arial, sans-serif;
	padding: var(--inputbox-padding);
	border: 0;
	box-sizing: border-box;
	border-radius: .5rem;
	box-shadow: var(--inputbox-shadow);
	background-color: var(--inputbox-background);
}

.input-box-container > input:focus {
	outline: none;
	background-color: var(--inputbox-background-focus);
}

.input-box-icon {
	width: var(--inputbox-icon-size);
	height: var(--inputbox-icon-size);
	align-self: center;
	cursor: pointer;
}

.input-box-error {
	color: var(--inputbox-error-color);
	display: block;
	margin-left: var(--inputbox-padding);
	margin-top: .5rem;
	user-select: none;
}