:root {
	--pageheader-margin: 4rem;
	--pageheader-title-color: var(--accent-color);
	--pageheader-description-color: var(--subtext-color);
	--pageheader-icon-size: var(--icon-size);
}

@media (prefers-color-scheme: light) {
}

.page-header {
	margin-bottom: var(--pageheader-margin);
	user-select: none;
}

.page-header-title {
	color: var(--pageheader-title-color);
}

.page-header-description {
	color: var(--pageheader-description-color);
}

.page-header-content {
	float: right;
}

.page-header-icon {
	max-width: var(--pageheader-icon-size);
	max-height: var(--pageheader-icon-size);
	align-self: center;
	cursor: pointer;
}

@media (max-width: 56rem) {
	:root {
		--pageheader-margin: 2rem;
	}
}