.page-header {
	margin-bottom: 4rem;
	user-select: none;
}

.page-header>p {
	color: #aaa;
}

.page-header-content {
	float: right;
}

@media (max-width: 56rem) {
	.page-header {
		margin-bottom: 2rem;
	}
}