:root {
	--page-header-margin: 4rem;
	--page-header-description-color: #aaa;
}

.page-header {
	margin-bottom: var(--page-header-margin);
	user-select: none;
}

.page-header-description {
	color: var(--page-header-description-color);
}

.page-header-content {
	float: right;
}

@media (max-width: 56rem) {
	:root {
		--page-header-margin: 2rem;
	}
}