.password-editor>label {
	display: block;
	margin-left: 1rem;
	margin-bottom: .5rem;
	color: #aaa;
}

.password-editor>input {
	flex: auto;
	margin-right: 1rem;
	font-family: 'Inter', Helvetica, Arial, sans-serif;
	padding: 1rem;
	border: 0;
	box-sizing: border-box;
	border-radius: .5rem;
	box-shadow: 3px 3px 2px rgba(0, 0, 0, .4);
	margin-bottom: 3rem;
}

.password-editor>input:focus {
	outline: none;
}

.password-editor-buttons {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 3rem;
	margin-bottom: 3rem;
}

.password-editor-buttons .main-button {
	padding: 1rem;
}

.password-editor-dangerzone {
	color: #D00;
}

.password-editor-dangerzone .main-button {
	margin-top: 2rem;
	padding: 1rem;
	background-color: #900;
	color: #eee;
}

.password-editor-dangerzone .main-button:hover {
	background-color: #A00;
}