.home-page {
	display: grid;
	grid-template-columns: 1fr 22rem;
}

.home-page > img {
	width: 17rem;
	place-self: center;
}

.quick-link {
	transition: all .2s ease-out;
	display: grid;
	grid-template-columns: 4rem 1fr;
	gap: 2rem;
	padding: 1rem;
	background-color: rgba(158, 157, 157, 0.3);
	border-radius: .5rem;
	margin-bottom: 3rem;
	align-items: center;
	cursor: pointer;
	user-select: none;
}

.quick-link:hover {
	background-color: #4C4C4C;
}

.quick-link p {
	color: #aaa;
}

@media (max-width: 56rem) {
	.home-page {
		grid-template-columns: 1fr;
	}

	.home-page > img {
		width: 12rem;
		margin-bottom: 2rem;
	}
}