:root {
	--homepage-menu-size: 22rem;
	--homepage-image-size: 17rem;
	--homepage-quicklink-background: var(--widget-background);
	--homepage-quicklink-background-hover: var(--widget-background-hover);
	--homepage-quicklink-text-color: var(--subtext-color);
}

@media (prefers-color-scheme: light) {
}

.home-page {
	display: grid;
	grid-template-columns: 1fr var(--homepage-menu-size);
}

.home-page-icon {
	color: var(--accent-color);
	width: var(--homepage-image-size);
	height: var(--homepage-image-size);
	align-self: center;
}

.page-header-icon {
	transition: all .4s;
}

.quick-link {
	transition: all .2s ease-out;
	display: grid;
	grid-template-columns: 4rem 1fr;
	gap: 2rem;
	padding: 1rem;
	background-color: var(--homepage-quicklink-background);
	border-radius: .5rem;
	margin-bottom: 3rem;
	align-items: center;
	cursor: pointer;
	user-select: none;
}

.quick-link:hover {
	background-color: var(--homepage-quicklink-background-hover);
}

.quick-link.animation-grow:hover {
	transform: scale(1.1, 1.1);
}

.quick-link-text {
	color: var(--homepage-quicklink-text-color);
	font-size: .9rem;
}

.quick-link-icon {
	height: 3rem;
}

@media (max-width: 56rem) {
	:root {
		--homepage-image-size: 12rem;
	}

	.home-page {
		grid-template-columns: 1fr;
	}

	.home-page-icon {
		margin: auto;
		margin-bottom: 4rem;
	}

	.quick-link.animation-grow:hover {
		transform: scale(1.05, 1.1);
	}
}