:root {
	--knowledge-category-icon-size: .8rem;
	--knowledge-background: var(--widget-background);
	--knowledge-background-hover: var(--widget-background-hover);
}

.knowledge-layout {
	display: grid;
	grid-template-columns: 15rem 1fr;
	gap: 2rem;
}

.knowledge-layout .knowledge-menu {
	position: sticky;
	top: 5rem;
	align-self: start;
}

.knowledge-layout .knowledge-category {
	cursor: pointer;
	user-select: none;
	margin-bottom: .2rem;
}

.knowledge-layout .knowledge-category-icon {
	width: var(--knowledge-category-icon-size);
	height: var(--knowledge-category-icon-size);
	margin-right: .5rem;
	transition: all .2s;
}

.knowledge-layout .knowledge-category-icon.open {
	transform: rotateZ(90deg);
	color: var(--accent-color);
}

.knowledge-layout .knowledge-rootitem {
	transition: color .2s;
	cursor: pointer;
	user-select: none;
	margin-left: 1.3rem;
	margin-bottom: .2rem;
}

.knowledge-layout .knowledge-rootitem:hover {
	color: var(--accent-color);
}

.knowledge-layout .knowledge-subitem {
	transition: color .2s;
	cursor: pointer;
	user-select: none;
	margin-left: 2rem;
	margin-bottom: .2rem;
}

.knowledge-layout .knowledge-subitem:hover {
	color: var(--accent-color);
}

.knowledge-layout .knowledge-content {
	color: var(--subtext-color);
}
.knowledge-layout .knowledge-content .markdown .knowledge-icon {
	color: var(--accent-color);
}

.knowledge-layout .knowledge-content .markdown h1 {
	color: var(--text-color);
	border-bottom: 1px solid #ccc;
	margin-bottom: .5rem;
}

.knowledge-layout .knowledge-content .markdown p {
	margin-bottom: 1rem;
}

.knowledge-layout .knowledge-content .markdown ul {
	margin-bottom: 1rem;
}