:root {
	--knowledge-background: var(--widget-background);
	--knowledge-background-hover: var(--widget-background-hover);
}

.knowledge-layout {
	display: grid;
	grid-template-columns: 10rem 1fr;
	gap: 2rem;
}

.knowledge-layout .knowledge-menu {
	position: sticky;
	top: 5rem;
}

.knowledge-layout .knowledge-menuitem {
	cursor: pointer;
}

.knowledge-layout .knowledge-content {
	color: var(--subtext-color);
}
.knowledge-layout .knowledge-content .markdown .knowledge-icon {
	color: var(--accent-color);
}

.knowledge-layout .knowledge-content .markdown h1 {
	color: var(--text-color);
	border-bottom: 1px solid #ccc;
	margin-bottom: .5rem;
}

.knowledge-layout .knowledge-content .markdown p {
	margin-bottom: 1rem;
}

.knowledge-layout .knowledge-content .markdown ul {
	margin-bottom: 1rem;
}