:root {
	--loginpage-text-color: var(--text-color);
	--loginpage-background: var(--background-color);
	--loginpage-background-image: url("../../images/login-dark.jpeg");
}

@media (prefers-color-scheme: light) {
	:root {
		--loginpage-background-image: url("../../images/login-light.jpeg");
		--loginpage-text-color: #eee;
	}
}

.login-layout {
	color: var(--loginpage-text-color);
	min-height: 100vh;
}

.login-background {
	background-color: var(--loginpage-background);
	background-image: var(--loginpage-background-image);
	background-size: cover;
	background-position: center;
}

.login-content {
	min-height: 100vh;
	margin: auto;
	box-sizing: border-box;
	display: grid;
	grid-template-rows: 1fr 1fr;
	place-items: center;
	max-width: 30rem;
	padding: 2rem;
}

.login-logo {
	filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, .5));
}