.search-box {
	position: sticky;
	top: 1rem;
	z-index: 1;
}

.category {
	display: flex;
	padding-bottom: .5rem;
	border-bottom: 1px solid #444;
}

.category-title {
	flex: auto;
	user-select: none;
}

.category-icon {
	width: 1.3rem;
	float: right;
	cursor: pointer;
	margin-left: 1rem;
}

.category-items {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	gap: 1rem;
	margin-top: 1rem;
	margin-bottom: 3rem;
}

.password {
	transition: all .2s ease-out;
	box-sizing: border-box;
	width: calc(50% - .5rem);
	padding: 1rem;
	background-color: rgba(100, 100, 100, .3);
	border-radius: .5rem;
	display: grid;
	grid-template-columns: 1fr auto;
	grid-template-rows: 1fr auto;
	grid-template-areas: "title icon" "description icon";
	align-items: center;
}

.password:hover {
	background-color: #4C4C4C;
}

.password-title {
	grid-area: title;
	cursor: pointer;
	user-select: none;
}

.password-description {
	word-break: break-word;
	grid-area: description;
	color: #aaa;
	font-size: .9rem;
}

.password-icons {
	grid-area: icon;
}

.password-icon {
	width: 1.5rem;
	cursor: pointer;
}

.error-message {
	text-align: center;
}

.error-message .error-icon {
	max-width: 10rem;
}

.error-message .error-text {
	margin: 4rem 0;
	color: #A00;
}

.error-message .main-button {
	padding: 1rem;
}

.import-export p {
	color: #aaa;
	margin-bottom: 2rem;
}

.import-export-buttons {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 2rem;
}

.import-export-buttons input[type=file] {
	display: none;
}

.import-export-buttons .main-button {
	padding: 1rem;
}

@media (max-width: 56rem) {
	.password {
		width: 100%;
	}
}