:root {
	--import-error-text-color: var(--error-text);
	--category-icon-size: var(--icon-size);
	--password-icon-size: var(--icon-size);
	--password-background: var(--widget-background);
	--password-background-hover: var(--widget-background-hover);
	--password-description-color: var(--subtext-color);
}

@media (prefers-color-scheme: light) {
}

.main-layout {
	min-height: 100vh;
	margin: auto;
	width: 100%;
	max-width: 50rem;
	padding: 1rem;
}

.search-box {
	position: sticky;
	top: 1rem;
	z-index: 1;
}

.passwords-empty {
	display: grid;
	place-content: center;
	user-select: none;
}

.category {
	display: flex;
	padding-bottom: .5rem;
	border-bottom: 1px solid var(--password-background-hover);
	margin-bottom: 1rem;
}

.category-title {
	flex: auto;
	user-select: none;
	font-size: 1.5rem;
	font-weight: 500;
}

.category-icon {
	width: var(--category-icon-size);
	height: var(--category-icon-size);
	float: right;
	cursor: pointer;
}

.category-items {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	gap: 1rem;
	margin-bottom: 3rem;
}

.category-items > * {
	animation: fade-in .2s;
}

.password {
	transition: all .2s ease-out;
	box-sizing: border-box;
	width: calc(50% - .5rem);
	padding: 1rem;
	background-color: var(--password-background);
	border-radius: .5rem;
	display: grid;
	grid-template-columns: 1fr auto;
	gap: 1rem;
	align-items: center;
}

.password:hover {
	background-color: var(--password-background-hover);
}

.password-title {
	user-select: none;
	font-size: 1.25rem;
	font-weight: 500;
}

.password-title > span {
	cursor: pointer;
	font-weight: inherit;
	font-size: inherit;
}

.password-title > span:hover {
	text-decoration: underline;
}

.password-description {
	user-select: none;
	word-break: break-word;
	color: var(--password-description-color);
	font-size: .9rem;
}

.password-description > span {
	cursor: pointer;
	font-weight: inherit;
	font-size: inherit;
	transition: color .5s;
}

.password-description > span:hover {
	text-decoration: underline;
}

.password-description > span:active {
	color: var(--accent-color);
	transition: color 0s;
}

.password-icon {
	width: var(--password-icon-size);
	height: var(--password-icon-size);
	cursor: pointer;
	transition: color .5s;
}

.password-icon:active {
	color: var(--accent-color);
	transition: color 0s;
}

.import-export-buttons input[type=file] {
	display: none;
}

.import-error {
	color: var(--import-error-text-color);
}

@media (max-width: 56rem) {
	.password {
		width: 100%;
	}
}